<!-- <div class="row d-flex mt-3" *ngIf="show"> -->
<div class="row d-flex mt-3">
  <span class="col-12 flex-row">
    <div class="d-flex">
      <span class="col-2 p-2">Filter by:</span>
      <input type="text" class="form-control" [(ngModel)]="listFilter" />
    </div>
  </span>
  <div class="row">
    <div class="col-5 d-flex flex-row m-2">
      <span class="p-2">Category </span>
      <select class="mb-3 form-select col-3" [(ngModel)]="selectedCategoryId">
        <option *ngFor="let x of categoryList" value="{{ x.id }}">
          {{ x.Name }}
        </option>
      </select>
    </div>
    <div class="col-5 d-flex flex-row ms-5 m-2">
      <span class="p-2">Price </span>
      <select
        class="mb-3 form-select col-3"
        [(ngModel)]="selectedCategoryIdPrice"
      >
        <option *ngFor="let x of productsList" value="{{ x.Price }}">
          {{ x.Price }}
        </option>
      </select>
    </div>
  </div>

  <app-products
    [listFilterChild]="listFilter"
    [selectedCategoryIdChild]="selectedCategoryId"
    [selectedCategoryIdPriceChild]="selectedCategoryIdPrice"
    (newProdInCart)="fun($event)"
  ></app-products>

  <!-- <span class="col-6 flex-row"
    >Credit Card  :
    <input type="text" class="form-input" [(ngModel)]="credit" (input) ="writeP" >
    <p >Your Card : {{ credit | creditCardFormat }}</p>
  </span> -->

<section class="" style="background-color: #969594;">
  <div class="container ">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col">
        <p><span class="h2">Shopping Cart </span><span class="h4">({{items}} Collections In Your Cart)</span></p>

        <div class="card mb-4">
          <div class="row pt-2 fs-4">
            <div class="col-md-3 justify-content-center">
              <p class="small text-muted mb-4 pb-2">Name</p>
              
             </div>
             <div class="col-md-3  justify-content-center">
               <p class="small text-muted mb-4 pb-2">Quantity</p>
              
             </div>
             <div class="col-md-3  justify-content-center">
               <p class="small text-muted mb-4 pb-2">Price</p>
              
             </div>
             <div class="col-md-3  justify-content-center">
               <p class="small text-muted mb-4 pb-2">Total</p>
             </div>
          </div>
           <div class="card mb-4">
          <div class="card-body p-4">

            <div class="row align-items-center" *ngFor="let item of cart">
         
              <div class="col-md-3 d-flex justify-content-center">
                <div>
                  <h6 class="lead fw-normal mb-0">{{item.Name}}</h6>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-center">
                <div>
                  <p class="lead fw-normal mb-0">{{item.Quantity}}</p>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-center">
                <div>
                  <p class="lead fw-normal mb-0">{{(item.Price)|discount : 50| currency}}</p>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-center">
                <div class="d-flex">
                  <p class="lead fw-normal mb-0" >{{(item.Price * item.Quantity)|discount : 50| currency}}</p>
                </div>
                <button class="btn btn-secondary ms-2" (click)="removeFromCart(item)">Del</button>
              </div><hr class="mt-1">
            </div>
            
          </div>
          <div class="text-end me-5 pe-4 pb-2">
            <p class="lead fw-normal mb-0" >{{sum()|discount : 50| currency}}</p>
          </div>
        </div>
         
        </div>

      </div>
    </div>
  </div>
</section>  

</div>
