<div class="container">
  <div class="container-fluid">
    <app-header class="bg-danger"> </app-header>
    <div class="bg-light">
      <div class="row">
        <app-asid class="col-3"></app-asid>
        <div class="row col-9 text-center">
          <!-- <app-products class=""></app-products> -->
          <!-- <app-product-parent></app-product-parent> -->
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <app-footer class="bg-dark"></app-footer>
  </div>
</div>
